*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: var(--spacing-md) 0 var(--spacing-lg) 0;
}

.contact-image {
    background-image: url("../images/museum-wall.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    border-radius: 60px;
    padding: 30%;
    margin: 0 auto;
}

.contact-information p {
    font-size: var(--font-size-small);
    text-align: center;
    color: #1B5992;
    margin: var(--spacing-md) 0;
}

.contact-information h1 {
    text-align: center;
    font-size: var(--font-size-large);
    color: #1B5992;
    margin-top: 20px;
}

.background{
    background-color: var(--color-background-section);
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}

.opening-information{
    font-size: var(--font-size-base);
    text-align: center;
    color: var(--color-secondary);
}

.opening-hours i {
    margin: 0;
    padding: 5px 0;
    font-style: italic;
}

.form-container {
    background-color: var(--color-bg);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.text-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: var(--font-size-base);
}

select#category {
    background-color: #1b59928e;
    color: #fff;
}

label {
    font-size: var(--font-size-base);
    color: #333;
}

.button-submit {
    background-color: var(--color-button);
    color: var(--color-text-button);
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-base);
}


@media (min-width: 1024px) {

.contact-image {
    width: 100px;
    padding: 20%;
    margin: 0 auto;
}

}

@media (min-width:1920px) {
    .contact-image {
        width: 150px;
        padding: 10%;
        margin: 0 auto;
    }
}