.contact-image {
    background-image: url("/images/museum-wall.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 60px;
    padding: 40%;
    margin-top: 20px;
}

.text-color{
    color: #1B5992;
    text-align: center;
}

.font-size {
    font-size: 0.7rem;
}