*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: var(--spacing-md) 0 var(--spacing-lg) 0;
}

.museum-building {
    background-image: url("../images/museum-buildingM.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: #fff solid 10px;
    padding: 100% 0 20px 0;
}

h1.h1 {
    font-size: var(--font-size-large);
    background-color: #EFC0C0;
    color: #001D56;
    text-align: center;
    max-width: 300px;
    height: auto;
    padding: var(--spacing-sm) var(--spacing-md)    ;
    margin: 0 var(--spacing-md) 0 var(--spacing-sm);
    border-radius: 10px;
}

.text-container {
    margin: var(--spacing-md) var(--spacing-md) var(--spacing-lg) var(--spacing-md);
}

.text-container p {
    font-size: var(--font-size-base);
    line-height: 1.5;
    color: #333;
    margin-bottom: var(--spacing-lg);
}

.text-container h2 {
    font-size: var(--font-size-large);
    color: #001D56;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-sm);
}

.button-contact {
    background: #1B5992;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.library {
    background-image: url("../images/libraryS.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    border: #fff solid 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (min-width: 1024px) {

.flex-container {
padding-left: 20%;
}

.museum-building {
    background-size: 60% 100%;
    background-position: left;
}

h1.h1 {
    font-size: var(--font-size-x-large);
    max-width: 300px;
    padding: var(--spacing-md) var(--spacing-lg);
    margin: 0 var(--spacing-xl);
}

.text-container p{
    max-width: 600px;
}

.library {
    background-size: 60% 100%;
    background-position: center;
    padding-top: 300px;
}
}

@media (min-width: 1920px){
.flex-container {
    padding-left: 30%;
}

.museum-building {
    background-size: 50% 100%;
    background-position: left;
}

.library {
    background-size: 50% 100%;
    height: auto;
    background-position: center;
}
}