.museum-building {
    background-image: url("/images/museum-buildingS.png");
    background-size: auto;
    background-repeat: no-repeat;
    padding: 100%;
    margin-top: 20px;
}

.h1 {
    background-color: #EFC0C0;
    color: #001D56;
    text-align: center;
    border-radius: 10px;
    width: 220px;
}

.button-contact {
    background: #1B5992;
    color: #fff;
    width: 200px;
}

.library {
    background-image: url("/images/libraryS.png");
    background-size: auto;
    background-repeat: no-repeat;
    padding: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (min-width: 375px) {

.h1 {
    transform: translate(-50%, -50%);
    margin-top: -250px;
    margin-left: 200px;
    margin-bottom: 60px;
}

}