.human {
    background-image: url('../images/human.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 400px;
    margin-top: 40px;
}

.text-on-top-one {
    background-color: #1b5992;
    color: #fff;
    text-align: center;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    margin-top: -390px;
    margin-left: 50px;
}

h2 {
    margin-top: 60px;
}

.text-container-one {
    margin-top: 350px;
    margin-left: 10px;
}

.skeleton {
    background-image: url("../images/skeleton.png");
    background-repeat: no-repeat;
    padding-top: 200px;
    margin-left: 10px;
}

.text-container-two {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.text-container-two b {
    color: #fff;
}

.cosmology {
    background-image: url("../images/cosmology.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10%;
    margin-top: 0px;
}

.text-container-three {
    margin-top: 40px;
    margin-left: 10px;
}

.open-science {
    background-image: url("../images/open-science.png");
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-left: 77px;
    margin-bottom: 40px;
}

.professor {
    background-image: url("../images/professor.png");
    background-repeat: no-repeat;
    padding-top: 600px;
}

.text-on-top-two {
    background-color: #1b5992;
    color: #fff;
    text-align: center;
    width: 230px;
    border-radius: 10px;
    padding: 8px;
    margin-top: -550px;
    margin-left: 10px;
}

.text-container-four {
    text-align: center;
    margin-top: 380px;
    margin-bottom: 40px;
}

.text-container-four p {
    margin-top: 40px;
    margin-bottom: 40px;
}

.museum-at-night {
    background-image: url("../images/museum-at-night.png");
    background-repeat: no-repeat;
    padding-top: 600px;
}

.text-container-five {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 40px;
    margin-top: -20px;
    margin-bottom: 40px;
}

.text-container-five b {
    color: #fff;
}

.teacher {
    background-image: url("../images/teacher.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50%;
}

.text-on-top-three {
    transform: translate(-50%, -50%);
    background-color: #1b5992;
    color: #fff;
    text-align: center;
    width: 125px;
    padding: 4px;
    border-radius: 10px;
    margin-top: -230px;
    margin-left: 75px;
}

.text-container-six {
    margin-top: 200px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.link {
    color: #1b5992;
    text-decoration: underline;
}

.button-contact {
    background-color: #1b5992;
    color: #fff;
    padding: 5px 60px;
    margin-left: 0px;
}

@media (min-width: 375px) {

.text-on-top-one {
    margin-top: -380px;
    margin-left: 120px;
}

.text-container-one {
    margin-top: 350px;
}

.text-on-top-two {
    margin-top: -560px;
    margin-left: 50px;
}

.text-container-four {
    margin-top: 400px;
}

.open-science {
    margin-left: 110px;
}

.text-on-top-three {
    margin-top: -320px;
}

.text-container-six {
    margin-top: 300px;
}

}

@media (min-width: 425px) {

.human {
    padding-top: 600px;
}

.text-on-top-one {
    margin-top: -580px;
    margin-left: 160px;
}

.text-container-one {
    width: 350px;
    margin-top: 0px;
    margin-left: 20px;
    padding-top: 450px;
}

.skeleton {
    margin-left: 20px;
}

.text-container-three {
    width: 350px;
    margin-left: 20px;
}

.open-science {
    margin-left: 140px;
}

.professor {
    background-size: cover;
}

.text-on-top-two {
    margin-top: -560px;
    margin-left: 70px;
}

.text-container-four {
    width: 350px;
    margin-top: 460px;
    margin-left: 25px;
}

.museum-at-night {
    background-size: cover;
}

.text-container-six {
    width: 350px;
    margin-left: 20px;
}

}

/*tablet*/

@media (min-width: 600px) {

.human {
    padding-top: 800px;
}

.text-on-top-one {
    padding: 10px;
    margin-top: -740px;
    margin-left: 220px;
}

.text-on-top-one,
h1 {
    width: 270px;
}

.text-container-one {
    width: 450px;
    margin-top: 140px;
    margin-left: 40px;
}

.skeleton {
    background-image: url("../images/skeletonM.png");
    padding-top: 500px;
    margin-left: 40px;
}

.text-container-three {
    width: 450px;
    margin-left: 40px;
}

.open-science {
    margin-left: 210px;
}

.professor {
    padding-top: 1000px;
}

.text-on-top-two {
    padding: 15px;
    width: 250px;
    margin-top: -900px;
    margin-left: 180px;
}

.text-container-four {
    width: 450px;
    margin-top: 800px;
    margin-left: 60px;
}

.museum-at-night {
    padding-top: 800px;
}

.text-on-top-three {
    padding: 25px;
    margin-top: -450px;
    margin-left: 120px;
}

.text-container-six {
    width: 450px;
    margin-top: 380px;
    margin-left: 40px;
}

.button-contact {
    padding: 8px 80px;
}

}

/*larger sizes*/
@media (min-width: 700px) {

.open-science {
    margin-left: 250px;
}

.text-on-top-two {
    margin-left: 200px;
}

.text-container-four {
margin-left: 100px;
}

}

/*larger sizes*/
@media (min-width: 768px) {

.human {
    width: 460px;
    margin-left: 152px;
}

.text-on-top-one {
    margin-left: 240px;
    padding: 20px;
}

.text-container-one {
    margin-left: 152px;
    margin-top: 240px;
}

.flex-container {
    float: right;
    margin-left: 350px;
    width: 255px;
}

.flex-container p{
    width: 300px;
    margin-top: 20px;
    margin-left: 80px;
}

.flex-container h2 {
    margin-top: 100px;
    margin-left: 80px;
}

.skeleton {
    width: 350px;
    margin-top: 120px;
}

.text-container-three {
    width: 500px;
    margin-left: 152px;
}

.open-science {
    margin-left: 200px;
}

.professor {
    width: 460px;
    margin-left: 152px;
}

.text-on-top-two{
    margin-left: 250px;
    padding: 20px;
}

.text-container-four {
    margin-top: 850px;
    margin-left: 152px;
}

.museum-at-night {
    width: 460px;
    margin-left: 152px;
}

.text-container-five {
    width: 380px;
    margin-left: 152px;
}

.teacher {
    background-size: 50%;
    padding: 130px;
    margin-top: 100px;
    margin-left: 200px;
}

.text-on-top-three {
    padding: 10px;
    margin-top: -230px;
    margin-left: 230px;
}

.grid-one {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.text-container-six {
    margin-top: 200px;
}
.grid-two {
    width: 310px;
    margin-top: 0px;
}

.grid-two, h2 {
    margin-top: 0px;
}

.button-contact {
    margin-left: 0px;
}

}

@media (min-width: 900px) {

main {
    margin-left: 80px;
}

.text-container-two {
    margin-left: -80px;
}
.cosmology {
    margin-left: -80px;
}

.teacher {
    background-size: 45%;
}

}

@media (min-width: 1000px) {

main {
    margin-left: 140px;
}

.text-container-two {
    margin-left: -135px;
}

.text-container-two p {
    width: 500px;
    margin-left: 220px;
}

.cosmology {
    margin-left: -135px;
}

.teacher {
    background-size: 40%;
}

}

@media (min-width: 1350px) {

main {
    margin-top: 100px;
    margin-left: 280px;
}

.text-container-two {
    margin-left: -255px;
}

.text-container-two p {
    margin-left: 380px;
}

.cosmology {
    margin-left: -255px;
}

.open-science {
    margin-left: 190px;
}

.teacher {
    background-size: 30%;
}

}

@media (min-width: 1500px) {

main {
    margin-left: 375px;
}

.text-container-two {
    margin-left: -355px;
}

.text-container-two p {
    margin-left: 460px;
}

.cosmology {
    margin-left: -355px;
}

.teacher {
    padding: 220px;
    margin-bottom: 300px;
}

.text-on-top-three {
    padding: 30px;
    margin-top: -750px;
}

.grid-one {
    margin-left: -210px;
    gap: 120px;
}

.grid-two {
    width: 500px;
    margin-top: 50px;
}

.button-contact {
    padding: 10px 120px;
}

}

@media (min-width: 1600px) {

.human {
    width: 800px;
    padding-top: 1200px;
    margin-left: -10px;
}

.text-on-top-one  {
    margin-top: -1150px;
    margin-left: 400px;
    padding: 40px;
}

.text-container-one {
    margin-top: 680px;
    width: 500px;
}

.text-container-two h2 {
    margin-left: -80px;
}

.text-container-two p {
    margin-left: 480px;
}

.professor {
    width: 800px;
    padding-top: 1200px;
    margin-left: -10px;
}

.text-on-top-two {
    margin-top: -1050px;
    margin-left: 220px;
    padding: 40px;
}

.text-container-four {
    width: 500px;
    margin-top: 980px;
    margin-bottom: 100px;
}

.museum-at-night {
    width: 800px;
    padding-top: 1200px;
    margin-left: -10px;
}

.text-container-five {
    width: 720px;
    margin-left: -10px;
    margin-bottom: 200px;
}

.text-container-five p {
    width: 500px;
    margin-left: 120px;
}

}

@media (min-width: 1900px) {

main {
    margin-left: 450px;
}

.text-container-two p {
    margin-left: 600px;
}

.text-container-four {
    margin-left: 130px;
}

.text-container-four b {
    margin-left: 0px;
}

.grid-two {
    margin-top: 100px;
    margin-bottom: 150px;
}

}