.museum img {
    margin-top: 20px;
    width: 250px;
}

.background-color {
    background-color: #1B5992;
    padding: 10px;
    margin-top: 20px;
}

main {
    text-align: center;
}

.button-events {
    background-color: #1B5992;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.scientific img {
    width: 250px;
    margin-bottom: 10px;
}

.text-color {
    color: #1B5992;
}

.button-events2 {
    background-color: #1B5992;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

@media (min-width: 375px) {

.museum img {
    width: 350px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 10px;
}

.img-small {
    margin-bottom: 18px;
}

.scientific img {
    width: 350px;
}

}

@media (min-width: 425px) {

.img-container {
    gap: 0px;
}

.vr-glasses {
    margin-left: 30px;
}

}

@media (min-width: 600px) {
     
.museum img {
    width: 550px;
}

.text-container {
    width: 550px;
    text-align: left;
    margin-left: 20px;
}

.text-container2 {
    width: 550px;
    text-align: left;
    margin-left: 20px;
}

.vr-glasses {
    margin-left: 100px;
}

.img-small {
    margin-right: 100px;
}

.text-color {
    width: 550px;
    text-align: left;
    margin-left: 20px;
}

.scientific img {
    width: 550px;
}

}
/*tablet*/

@media (min-width: 768px) {

.museum img {
    width: 750px;
}

.section-container {
    background-color: #dbacacb9;
    text-align: left;
    font-weight: 600;
    width: 300px;
    margin-top: -180px;
    margin-left: 180px;
    transform: translate(-50%, -50%);
}

h1 {
    color: #000;
    padding: 20px;
    margin: 0px;
}

.text-container {
    width: 250px;
}

.button-events {
    margin-left: 20px;
}

.background-color {
    padding: 20px;
    margin-top: -100px;
}

.exhibition img {
    block-size: 14vh;
    padding: 0px;
    border: 2px solid #000;
}

.img-container {
    grid-template-columns: repeat(2, .1fr);
    margin-left: -100px;
    margin-right: -20px;
    margin-top: -300px;
    gap: 20px;
}

.text-container2 {
    font-size: 0.7rem;
    width: 330px;
    margin-left: 400px;
}

.text-color {
    font-size: 0.7rem;
    text-align: center;
    width: 330px;
    margin-top: 100px;
}

.scientific img {
    width: 350px;
    float: right;
    margin-top: -270px;
    margin-right: 30px;
}

.button-events2 {
    background-color: #1B5992;
    color: #fff;
    margin-left: -400px;
}

.text-container3 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.7rem;
    text-align: left;
    column-width: 250px;
    gap: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 20px;
}

.text-container3 b {
    margin-left: 0px;
}

}

@media (min-width: 900px) {

.museum img {
    width: 850px;
}

.section-container {
    margin-left: 240px;
}

.exhibition {
    width: 850px;
    margin-left: 23px;
}

.exhibition img {
    margin-left: 20px;
    margin-right: 20px;
}

.img-container {
    margin-left: -40px;
    margin-right: 0px;
    margin-top: -290px;
}

.text-container2 {
    width: 360px;
    margin-left: 460px;
    margin-top: 40px;
}

.text-color {
    width: 360px;
    margin-top: 80px;
    margin-left: 60px;
}

.scientific img {
    margin-top: -235px;
    margin-right: 90px;
}

.button-events2 {
    margin-left: -420px;
}

}

@media (min-width: 1000px) {

.museum img {
    width: 950px;
}
    
.exhibition {
    width: 945px;
    margin-left: 20px;
}

.scientific img {
    margin-right: 165px;
}

.button-events2 {
    margin-left: -500px;
}

}

@media (min-width: 1100px) {

.museum img {
    width: 1050px;
}
  
.exhibition {
    width: 1055px;
    margin-left: 20px;
}

.img-container {
    margin-left: 60px;
    margin-top: -250px;
}

.text-container2 {
    width: 400px;
    margin-left: 600px;
}

.text-color {
    width: 400px;
    margin-left: 120px;
}

.scientific img {
    width: 450px;
    margin-right: 60px;
}

.button-events2 {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

}

@media (min-width: 1200px) {

.museum img {
    width: 1150px;
}

.exhibition {
    width: 1155px;
    margin-left: 20px;
}

.scientific img {
    width: 450px;
    margin-right: 100px;
}

.button-events2 {
    margin-left: -40px;
}

.text-container3 {
    width: 800px;
    margin-left: 200px;
    gap: 150px;
}

}

@media (min-width: 1350px) {

.museum img {
    width: 1300px;
}

.exhibition {
    width: 1300px;
}

.exhibition img {
    block-size: 20vh;
}

.vr-glasses {
    block-size: 40vh;
}

.img-small {
    block-size: 18.5vh;
}

.text-container2 {
    margin-top: 100px;
    margin-left: 700px;
}

.text-color {
    margin-left: 180px;
}

.scientific img {
    margin-right: 180px;
}

.button-events2 {
    margin-left: 60px;
}

.text-container3 {
    margin-left: 300px;
}

}

@media (min-width: 1500px) {

.museum img {
    width: 1450px;
}
    
.exhibition {
    width: 1450px;
}

.scientific img {
    margin-right: 320px;
}

.button-events2 {
    margin-left: 40px;
}

.text-container3 {
    margin-left: 400px;
}

}

/*larger size than 1500px, need more work*/
@media (min-width: 1900px) {

.museum img {
    width: 1850px;
}

.exhibition {
    width: 1850px;
}

.vr-glasses {
    margin-left: 300px;
}

.text-container2 {
    margin-left: 950px;
}

.scientific img {
    margin-right: 520px;
}

.text-color {
    margin-left: 400px;
}

.button-events2 {
    margin-left: 300px;
}

.text-container3 {
    margin-left: 500px;
}

}