body {
    text-align: center;
}

.museum-img {
    background-image: url("/images/museum.png");
    background-size: cover; 
    background-repeat: no-repeat; 
}

.background-color {
background-color: #1B5992;
padding: 10px;
margin-top: 20px;
}

.button-events {
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    background-color: #1B5992;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.scientific img {
    width: 250px;
}

.text-color {
    color: #1B5992;
}

@media (min-width: 375px) {

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 10px;
}

.img-small {
    margin-bottom: 18px;
}

.scientific img {
    width: 350px;
}

}

@media (min-width: 600px) {
     
}