/*common fonts and buttons*/

html {
    background-color: #fff;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    color: #1B5992;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: .8rem;
}

body {
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    color: #000;
}

.caption {
    font-family: "Inter", sans-serif;
    color: #6C6E70;
    font-size: 0.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*nav starts here*/
header {
    background-color: #dbacac50;
    position: relative;
}

.logo-nav {
    block-size: 7vh;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
}

nav {
    display: none;
    position: absolute;
    padding: 60px;
    background-color: #fff;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #1B5992;
}

nav a:hover {
    color: #6C6E70;
    font-size: larger;
}

.hamburger-menu {
    float: right;
    margin-top: 25px;
    padding: 10px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;
}

.menu {
    font-size: 0.5rem;
    color: #000;
    float: right;
    margin-top: -45px;
    margin-right: 10px;
}

/*footer starts here*/
.footer {
    background-color: #dbacac50;
    text-align: center;
}

.logo {
    block-size: 8vh;
    margin-top: 20px;
}

b {
    color: #000;
}

a {
    text-decoration: none;
}

b:hover {
    color: #6C6E70;
}

.visit p {
    font-size: 0.7rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.opening-hours p {
    font-size: 0.7rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.caption a {
    color: #6C6E70;
}

.caption a:hover {
    color: #000;
    font-size: larger;
}

.icon {
    margin-bottom: 20px;
}

.copyright {
    background-color: #D9D9D9;
    font-size: 0.5rem;
    color: #000;
    padding: 20px;
}