/*common fonts and buttons*/

html {
    background-color: #fff;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    color: #1B5992;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: .8rem;
}

body {
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    color: #000;
}

.caption {
    font-family: "Inter", sans-serif;
    color: #6C6E70;
    font-size: 0.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-events {
    font-family: "Inter", sans-serif;
    font-size: .8rem;
    background-color: #1B5992;
    color: #fff;
}

/*nav starts here*/
header {
    background-color: #dbacac50;
}

.logo-nav {
    block-size: 7vh;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hamburger-menu {
    display: flex;
    float: right;
    margin-top: 25px;
    padding: 10px;
}

/*footer starts here*/
.footer {
    background-color: #dbacac50;
    text-align: center;
}

.logo {
    block-size: 8vh;
    margin-top: 20px;
}

.visit p {
    font-size: 0.7rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.opening-hours p {
    font-size: 0.7rem;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.icon {
    margin-bottom: 20px;
}

.copyright {
    background-color: #D9D9D9;
    font-size: 0.5rem;
    color: #000;
    padding: 20px;
}